@use "@/styles/_mixins.scss" as mixins;

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 16px;
  margin: 0 auto;

  @include mixins.LaptopL {
    max-width: 1024px;
  }

  @include mixins.Laptop {
    padding: 0 34px;
  }

  @include mixins.Tablet {
    padding: 0 25px;
  }
}