.card {
  min-width: 200px;
  height: 130px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--surface-light-orange);
  background: var(--surface-cream)
}

.img {
  height: 50px;
  width: 50px;
}
