@use "@/styles/_mixins.scss" as mixins;

.buttonWrapper {
  height: 50px;
  font-size: 18px;
  line-height: 24px;

  @include mixins.Laptop {
    align-self: center;
    width: 320px;
  }
}

.side {
  width: 100%;
  max-width: 477px;
  padding: 0 32px;

  @include mixins.LaptopL {
    max-width: 316px;
    padding: 0;
    margin-top: 32px;
    padding-bottom: 30px;
  }

  @include mixins.Laptop {
    padding: 0;
    max-width: 100%;
    margin-top: 32px;
    padding-bottom: 30px;
  }
}

.info {
  @include mixins.Laptop {
    width: 332px;
  }
}

.wrapper {
  width: 100%;
  max-width: 360px;
  display: inline-flex;
  flex-direction: column;
  gap: 3rem;

  @include mixins.Laptop {
    flex-direction: column-reverse;
    gap: 1rem;
    max-width: 100%;
  }
}

.link {
  display: flex;
  gap: 16px;
  align-items: center;
}
