:root {
  --primary-text-color: #f5cc82;
  --secondary-text-color: #282828;
  --light-beige: #fffdfa;
  --primary-dark: #be8317;
  --dark-grey-bg: #3d3d3d;
  --surface-dark-yellow: #db9e2f;
  --surface-light-orange: #f5cc82;
  --surface-light-cream: #fdf1dc;
  --surface-grey: #282828;
  --surface-cream: #fff8ec;
  --success-color: #0f9d58;
  --secondary-grey: #4e4c47;
  --alternate-bg: #353535;
}
